#table-container {
  display: inline-block;
}

#addRow {}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  min-width: 100px;
  height: 25px;
  padding: 3px;
}

.current-cell {
  background-color: pink;
}

tfoot > tr {
  background-color: green;
}

button {
  display: inline;
}
